html {
	scroll-behavior: smooth;
}

body {
	/* background-color: rgb(235, 235, 235); */
	color: rgb(30, 30, 0);
	font-family: 'Times New Roman', Times, serif;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}


.c-flex{
	display: flex;
	flex-wrap: wrap;
}

.c-col{
	flex: 1;
}

.c-col-nav{
	min-width: 250px;
	max-width: 300px;

	padding-left: 3%;
	padding-right: 3%;

	text-align: right;
	margin-bottom: 50px;
}

.c-col-content {
	min-width: 250px;
	max-width: 500px;

	padding-left: 3%;
	padding-right: 3%;
}

.c-block {
	margin-bottom: 50px;
}

.c-mainItem {
	margin-bottom: 15px;
	margin-top: 15px
}
