html{
	scroll-behavior: smooth;
}

#component-top{
	min-height: calc(100vh - 60px);
	background-image: url("https://images.unsplash.com/photo-1547944569-e62f69839c6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2158&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#component-projects{
	min-height: 20vh;
	background-color: rgba(255,255,255,1.0);
}

#component-experience{
	min-height: 20vh;
	background-color: rgba(255,255,255,1.0);
}

#component-news{
	min-height: 20vh;
	background-color: rgba(255,255,255,1.0);
}

#component-contact{
	min-height: 20vh;
	background-color: rgba(255,255,255,1.0);
}

#navbar-main{
	height: 60px;
}

.custom-component-top{
	padding: 50px 30px 30px 30px;
}

.custom-component-body{
	padding: 50px 30px 30px 30px;
}

.card{
	margin: 10px;
}